# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

df.head

In [5]:
df.shape

(4008, 11)

In [6]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [10]:
unique_counts = df.nunique()
print(unique_counts)

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       0
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [ ]:
unique_counts = df.nunique()
print("Unique values:")
print(unique_counts)

categorical_cols = df.select_dtypes(include="object").columns.tolist()
numeric_cols = df.select_dtypes(include="number").columns.tolist()

print("\nCategorical columns and unique values:")
for col in categorical_cols:
    print(f"\n{col}:")
    print(df[col].unique())

print("\nNumerical columns:")
for col in numeric_cols:
    print(f"\n{col}")
    print("Min:", df[col].min())
    print("Max:", df[col].max())

In [14]:
numeric_df = df.select_dtypes(include="number")

print("Statistics for numerical columns:")
print("\nMeans:")
print(numeric_df.mean())
print("\nMedians:")
print(numeric_df.median())
print("\nModes:")
print(numeric_df.mode().iloc[0])
print("\nStandard Deviations:")
print(numeric_df.std())
print("\nQuartiles (25%, 50%, 75%):")
print(numeric_df.quantile([0.25, 0.5, 0.75]))

Summary statistics for numerical columns:

Means:
Customer Lifetime Value               NaN
Income                       39295.701214
Monthly Premium Auto           193.234360
Number of Open Complaints             NaN
Total Claim Amount             404.986909
dtype: float64

Medians:
Customer Lifetime Value               NaN
Income                       36234.000000
Monthly Premium Auto            83.000000
Number of Open Complaints             NaN
Total Claim Amount             354.729129
dtype: float64

Modes:
Customer Lifetime Value        NaN
Income                         0.0
Monthly Premium Auto          65.0
Number of Open Complaints      NaN
Total Claim Amount           321.6
Name: 0, dtype: float64

Standard Deviations:
Customer Lifetime Value               NaN
Income                       30469.427060
Monthly Premium Auto          1601.190369
Number of Open Complaints             NaN
Total Claim Amount             293.027260
dtype: float64

Quartiles (25%, 50%, 75%):
      Customer Lifetime Value   Income  Monthly Premium Auto  \
0.25                      NaN  14072.0                  68.0
0.50                      NaN  36234.0                  83.0
0.75                      NaN  64631.0                 109.5

      Number of Open Complaints  Total Claim Amount
0.25                        NaN          202.157702
0.50                        NaN          354.729129
0.75                        NaN          532.800000

In [15]:
categorical_df = df.select_dtypes(include="object")

print("Statistics for categorical columns:")
print(categorical_df.describe(include="object"))

Summary statistics for categorical columns:
       Customer      ST GENDER Education    Policy Type  Vehicle Class
count      1071    1071    954      1071           1071           1071
unique     1071       8      5         6              3              6
top     MY31220  Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq          1     320    457       324            780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [17]:
print(df.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [18]:
location_counts = df["ST"].value_counts(ascending=True)
print(location_counts.head(5))

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [21]:
policy_counts = df["Policy Type"].value_counts()
print(policy_counts)

top_policy = policy_counts.idxmax()
print("Highest number of policies sold:", top_policy)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Highest number of policies sold: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [23]:
personal_auto = df.loc[df["Policy Type"] == "Personal Auto"]
corporate_auto = df.loc[df["Policy Type"] == "Corporate Auto"]

avg_income_personal = personal_auto["Income"].mean()
avg_income_corporate = corporate_auto["Income"].mean()

print("Average income Personal Auto:", avg_income_personal)
print("Average income Corporate Auto:", avg_income_corporate)

Average income Personal Auto: 38180.69871794872
Average income Corporate Auto: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [27]:
Q75 = df["Total Claim Amount"].quantile(0.75)
high_claims = df[df["Total Claim Amount"] > Q75]

print("Client with high policy claim amount (Top 25%):")
print(high_claims.head())

print("\nStatistics for high policy claim amount:")
print(high_claims["Total Claim Amount"].describe())

Client with high policy claim amount (Top 25%):
   Customer          ST GENDER Education  Customer Lifetime Value   Income  \
1   QZ44356     Arizona      F  Bachelor                      NaN      0.0
2   AI49188      Nevada      F  Bachelor                      NaN  48767.0
17  OE15005        Cali    NaN   College                      NaN  28855.0
23  TZ98966      Nevada    NaN  Bachelor                      NaN      0.0
26  US89481  California    NaN  Bachelor                      NaN      0.0

    Monthly Premium Auto  Number of Open Complaints     Policy Type  \
1                   94.0                        NaN   Personal Auto
2                  108.0                        NaN   Personal Auto
17                 101.0                        NaN   Personal Auto
23                  73.0                        NaN  Corporate Auto
26                 111.0                        NaN   Personal Auto

    Vehicle Class  Total Claim Amount
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
17            SUV          647.442031
23  Four-Door Car          554.376763
26  Four-Door Car          799.200000

Statistics for high policy claim amount:
count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64